# Build
/build/
/install/

# Clang
/.cache/

# IDE
/.vscode/
/.vs/
/.idea/
/.cursor/
.cursorignore

# Result
/results/

# System
.DS_Store
Thumbs.db

# Environment
.env.example
.roo/
.roomodes
.taskmaster/
.taskmasterconfig
.windsurf/
scripts/
